<%# index page view  %>
<h1>Welcome to Farm 2 Table</h1>
<p>Mission Statement - We are here for the Farmers and we are here for the Customers. For too long now large coperations have had a firm grasp on the Fresh Produce Market. 
<br>
<br> We are here to disrupt the market and provide an easy to use and simple to navigate intrerface to BUY... or SELL fresh produce.</p>
<p>Please join us today and sign up above.</p>
